

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container, .subscription-container, .payment-container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h3 {
    margin-bottom: 20px;
}

.input, .form-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.button-container {
    text-align: center;
}

.plan {
    margin: 15px 0;
    text-align: left;
}

.form-container, .subscription-container, .payment-container, .confirmation-container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h3 {
    margin-bottom: 20px;
}

.input, .form-btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}

.button-container {
    text-align: center;
}

.plan {
    margin: 15px 0;
    text-align: left;
}