@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;700&display=swap');

* {
   font-family: 'Fredoka', sans-serif;
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
}

body {
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background: url('image/usertype.png') no-repeat;
   background-size: cover;
   background-position: center;
   padding: 20px;
}

.form-container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   max-width: 500px;
   padding: 20px;
   border-radius: 5px;
   background: #fff;
   box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
   text-align: center;
}

.form-container form {
   width: 100%;
}

.form-container form h3 {
   font-size: 30px;
   text-transform: uppercase;
   margin-bottom: 20px;
   color: #0093c1;
}

.form-container form .button-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px; /* Space between the buttons */
}

.form-btn {
   background: #c3e4ed; 
   color: #0093c1;
   padding: 12px 30px;
   font-size: 18px;
   font-weight: bold;
   border: none;
   border-radius: 30px;
   cursor: pointer;
   transition: background 0.3s ease;
   width: 100%;
   max-width: 300px;
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.form-btn:hover {
   background: #0093c1;
   color: #ffffff;
}

.form-container form p {
   margin-top: 10px;
   font-size: 20px;
   color: #333;
}

.form-container form p a {
   color: crimson;
   text-decoration: underline;
}

.form-container form .error-msg {
   margin-top: 10px;
   background: crimson;
   color: #fff;
   border-radius: 5px;
   font-size: 20px;
   padding: 10px;
}
